# Include your project-specific ignores in this file
# See https://help.github.com/ignore-files/ for more about ignoring files

# Build output
build/

# Dependencies
node_modules/

# Testing
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-error.log*

# VS Code
.vscode/*
!.vscode/snippets
!.vscode/launch.json
!.vscode/settings.json

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Misc
.firebase/*
__generated__
.DS_Store
.env.local
.env.*.local
.eslintcache
.yarn-integrity
backup.sql

# this is temporary until we have a log-in system
public/keys.json
