.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  text-align: center,
}

.subTitle {
  text-align: center;
}

.root {
  margin-left: 240;
  flexGrow: 1;
  display: flex;
  background-color: 'rgba(50,97,90,0.5)'
}

.card {
  max-width: 445,
}

.fab {
  /*margin: theme.spacing(1),*/
}

.extendedIcon {
  /*marginRight: theme.spacing(1),*/
}

.media {
  height: 200;
}

.code {
  /*padding: theme.spacing(2),*/
  /*color: theme.palette.common.white,*/
  background-color: #555;
  font-family: Roboto Mono;
  font-weight: 100;
  font-size: 0.875rem;
  /*marginBottom: theme.spacing(3),*/
}

block {

}
